@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/spacegrotesk-bold.woff2') format('woff2'),
    url('fonts/spacegrotesk-bold.woff') format('woff'),
    url('fonts/spacegrotesk-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

article {
    margin-top: 25px;
}

.article__graphic {
    height: 200px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;

    img {
        height: auto;
        width: 100%;
    }
}

.article__header {
    .margins();

    margin-bottom: 25px;
}

.article__text {
    .margins();

    blockquote {
        margin: 0;
    }
}


body,
html {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.footer {
    background-color: #0a0a0a;
    bottom: 0;
    height: calc(~"100vh - 58px");
    position: relative;
    margin-top: 58px;
    width: 100%;

    nav {
        h1:nth-of-type(1) {
            color: #3a3a3a;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.header {
    .margins();

    align-items: center;
    display: flex;
    flex-direction: row;
    height: 58px;
    justify-content: space-between;

    h2 {
        color: #D8D8D8;
    }
}

h1, h2, h3 {
    margin: 0;
}

h1,
h2,
.sqs-search-ui-button-wrapper input,
.sqs-search-ui-button-wrapper input::placeholder {
    font-family: 'Space Grotesk';
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 45px;
    line-height: 100%;
    margin-bottom: 0;
    
}

h2 {
    font-size: 25px;
    line-height: 22px;
}

h3 {
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 125%; // or 22px
    text-decoration-line: underline;
}

.nav-icon {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.nav-icon--bottom,
.nav-icon--top {
    background-color: #D8D8D8;
    height: 6px;
}

.nav-icon--bottom {
    width: 90px;
}

.nav-icon--top {
    margin-bottom: 5px;
    width: 60px;
}

.nav--social {
    .margins();

    padding-top: 36px;
}

.no-underline {
    text-decoration-line: none;
}

p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150% !important;
    margin: 0;
}

#primary-feature {
    position: absolute;
    top: 0;
    right: 0;
}

.search {
    .margins();

    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 200px;

    .search__cursor {
        background-color: #ffffff;
        display: inline-block;
        height: 55px;
        margin-right: 40px;
        width: 6px;
    }

    #search--sitewide {
        .sqs-search-ui-button-wrapper input,
        .sqs-search-ui-button-wrapper input::placeholder {
            background-image: none; // removes search icon
            border: none;
            font-size: 45px;
            outline: none;
            padding: 0;
            text-align: left;
        }

        .sqs-search-ui-button-wrapper input {
            color: #ffffff;
        }

        .sqs-search-ui-button-wrapper input::placeholder {
            color: #3a3a3a;
        }

        .search-block {
            padding: 0 !important;
        }
    }
}

.sneakpeek {
    .margins();
}

.sneakpeek__image {
    height: auto;
    margin: 0 -5%;
    width: 110%;
}

.sneakpeek__title {
    margin-bottom: 20px;
}

.unimportant {
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%; // or 13px
    margin-bottom: 5px;
}


// hr {
//     color: #bbb;
//     background-color: #000000;
//     height: 4px;
//     border: none;
// }

.sqs-block-horizontalrule {
    padding: 0;
}

.sqs-block-horizontalrule hr {
    color: #bbb;
    background-color: #000000;
    height: 4px;
    border: none;
}