@lightgrey: '#D8D8D8';

@default: '-apple-system, BlinkMacSystemFont, 'Basier Square', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif';

.margins {
    margin-left: 18px;
    margin-right: 18px;
}