/* ----------------- FONT DEFINITION ----------------- */
/* ----------------- FONT DEFINITION ----------------- */

@font-face {
    font-family: 'Space Grotesk';
    src: url('assets/fonts/spacegrotesk-bold.woff2') format('woff2'),
    url('assets/fonts/spacegrotesk-bold.woff') format('woff'),
    url('assets/fonts/spacegrotesk-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@defaultFont: 'Inter', -apple-system, BlinkMacSystemFont, 'Basier Square', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


/* =============== COLORS =============== */
/* =============== COLORS =============== */

@black: #000000;
@darkGrey: #151515;
@grey: #808080;
@lightGrey: #D8D8D8;
@white: #FFFFFF;


/* =============== METRICS =============== */
/* =============== METRICS =============== */


@headerHeight: 60px;
@pageMargin: 18px;


.margins {
    margin-left: @pageMargin;
    margin-right: @pageMargin;
}